.balance {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}

.income {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}

.expenses {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}

.each-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 28px;
  border-radius: 18px;
  width: 29%;
}

.each-type-logo {
  height: 58px;
  width: 58px;
  margin-right: 15px;
}

.each-type-category {
  font-size: 13px;
  color: #475569;
}

.each-type-money {
  font-weight: 400;
  font-size: 20px;
}

@media all and (max-width: 767px) {
  .each-type {
    width: 100%;
    margin-bottom: 25px;
  }
}
